.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.score {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.score p {
  text-align: center;
  min-width: 100px;
}

.title {
  font-size: 32px;
  text-align: center;
  margin: 20px 0;
}

ul.units-list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

li.units-list-item {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 20px;
}

img.unit-image {
  box-sizing: border-box;
  width: 150px;
  height: 150px;
  padding: 15px;
  border: 2px solid #000;
  border-radius: 50%;
  cursor: pointer;
}

img.unit-image:hover {
  filter: drop-shadow(2px 4px 4px #00000080);
  transform: scale(1.05);
}

p.unit-type {
  text-align: center;
}

.round-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.round-results {
  text-transform: capitalize;
  text-align: center;
}

button {
  font-size: 18px;
  margin-top: 25px;
  padding: 5px 20px;
}

.btn-restart {
  margin: 0;
  padding: 5px;
  position: absolute;
  top: 5px;
  right: 5px;
}

.btn-next-round {
  max-width: 80px;
}

.game-winner {
  font-size: 24px;
  text-transform: capitalize;
  text-align: center;
}

.rounds {
  margin: 0;
  text-align: center;
}
